.social-network ul {margin:  0 0 1em 0;}



/*  images simples*/ 

.social-network span			{display:none;}
.social-network span.share		{display:initial;}
.social-network li			{display:inline-block; margin:0 0.3em 0 0;}
.social-network li a			{filter:brightness( 50%); -webkit-filter:brightness( 50%); -moz-filter: brightness( 50%); -o-filter: brightness( 50%); -ms-filter: brightness( 50%); border-radius: 0.33em; }
.social-network li a:hover		{filter:brightness(100%); -webkit-filter:brightness(100%); -moz-filter: brightness(100%); -o-filter: brightness(100%); -ms-filter: brightness(100%); }

.social-network li a.twitter 		{background: url("../plugins/plxMySocialNetwork/img/twitter.svg")		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.facebook 		{background: url("../plugins/plxMySocialNetwork/img/facebook.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.google-plus 	{background: url("../plugins/plxMySocialNetwork/img/google-plus.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.linkedin 		{background: url("../plugins/plxMySocialNetwork/img/linkedin.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.diaspora	 	{background: url("../plugins/plxMySocialNetwork/img/diaspora.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.courriel 		{background: url("../plugins/plxMySocialNetwork/img/mail.svg") 			center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.reddit 		{background: url("../plugins/plxMySocialNetwork/img/reddit.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.stumbleupon 	{background: url("../plugins/plxMySocialNetwork/img/stumbleupon.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.tumblr 		{background: url("../plugins/plxMySocialNetwork/img/tumblr.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.delicious 		{background: url("../plugins/plxMySocialNetwork/img/delicious.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.pocket 		{background: url("../plugins/plxMySocialNetwork/img/pocket.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.share-alt 		{background: url("../plugins/plxMySocialNetwork/img/share-alt.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }    
/* */



/* Images cachees */
/*
.social-network 			{margin-bottom:1em;}
.social-network span			{display:none; }
.social-network span.share		{display:initial;}
.social-network ul			{display:table-cell; overflow: hidden; text-align: center;box-shadow: 0px 20px 20px -10px #888;padding: 0 10px;}
.social-network li			{display:inline-block; margin: 0  0.3em 0 0; }
.social-network li a			{top: 16px; position:relative;}
.social-network li a:hover		{top: 8px;transition: top 0.2s linear;}

.social-network li a.twitter 		{background: url("../plugins/plxMySocialNetwork/img/twitter.svg")		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.facebook 		{background: url("../plugins/plxMySocialNetwork/img/facebook.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.google-plus 	{background: url("../plugins/plxMySocialNetwork/img/google-plus.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.linkedin 		{background: url("../plugins/plxMySocialNetwork/img/linkedin.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.diaspora	 	{background: url("../plugins/plxMySocialNetwork/img/diaspora.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.courriel 		{background: url("../plugins/plxMySocialNetwork/img/mail.svg") 			center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.reddit 		{background: url("../plugins/plxMySocialNetwork/img/reddit.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.stumbleupon 	{background: url("../plugins/plxMySocialNetwork/img/stumbleupon.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.tumblr 		{background: url("../plugins/plxMySocialNetwork/img/tumblr.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.delicious 		{background: url("../plugins/plxMySocialNetwork/img/delicious.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.pocket 		{background: url("../plugins/plxMySocialNetwork/img/pocket.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }
.social-network li a.share-alt 		{background: url("../plugins/plxMySocialNetwork/img/share-alt.svg") 		center no-repeat; width: 32px; height: 32px; background-size: 32px 32px;  display: inline-block; }    
/* */



/* liste Blogroll */
/*
.social-network ul li		{list-style-type: none;}

.social-network li a.twitter:before 		{ background-image: url("../plugins/plxMySocialNetwork/img/twitter.svg")	; margin-right: 0.5em; content: '' ; display: inline-block; height: 1em; width: 1em; background-size: 1em 1em; }
.social-network li a.facebook:before 		{ background-image: url("../plugins/plxMySocialNetwork/img/facebook.svg") 	; margin-right: 0.5em; content: '' ; display: inline-block; height: 1em; width: 1em; background-size: 1em 1em; }
.social-network li a.google-plus:before 	{ background-image: url("../plugins/plxMySocialNetwork/img/google-plus.svg"); margin-right: 0.5em; content: '' ; display: inline-block; height: 1em; width: 1em; background-size: 1em 1em; }
.social-network li a.linkedin:before 		{ background-image: url("../plugins/plxMySocialNetwork/img/linkedin.svg") 	; margin-right: 0.5em; content: '' ; display: inline-block; height: 1em; width: 1em; background-size: 1em 1em; }
.social-network li a.diaspora:before	 	{ background-image: url("../plugins/plxMySocialNetwork/img/diaspora.svg") 	; margin-right: 0.5em; content: '' ; display: inline-block; height: 1em; width: 1em; background-size: 1em 1em; }
.social-network li a.courriel:before 		{ background-image: url("../plugins/plxMySocialNetwork/img/mail.svg") 		; margin-right: 0.5em; content: '' ; display: inline-block; height: 1em; width: 1em; background-size: 1em 1em; }
.social-network li a.reddit:before 		{ background-image: url("../plugins/plxMySocialNetwork/img/reddit.svg") 	; margin-right: 0.5em; content: '' ; display: inline-block; height: 1em; width: 1em; background-size: 1em 1em; }
.social-network li a.stumbleupon:before 	{ background-image: url("../plugins/plxMySocialNetwork/img/stumbleupon.svg"); margin-right: 0.5em; content: '' ; display: inline-block; height: 1em; width: 1em; background-size: 1em 1em; }
.social-network li a.tumblr:before 		{ background-image: url("../plugins/plxMySocialNetwork/img/tumblr.svg") 	; margin-right: 0.5em; content: '' ; display: inline-block; height: 1em; width: 1em; background-size: 1em 1em; }
.social-network li a.delicious:before 		{ background-image: url("../plugins/plxMySocialNetwork/img/delicious.svg") 	; margin-right: 0.5em; content: '' ; display: inline-block; height: 1em; width: 1em; background-size: 1em 1em; }
.social-network li a.pocket:before 		{ background-image: url("../plugins/plxMySocialNetwork/img/pocket.svg") 	; margin-right: 0.5em; content: '' ; display: inline-block; height: 1em; width: 1em; background-size: 1em 1em; }
.social-network li a.share-alt:before 		{ background-image: url("../plugins/plxMySocialNetwork/img/share-alt.svg") 	; margin-right: 0.5em; content: '' ; display: inline-block; height: 1em; width: 1em; background-size: 1em 1em; }
/*  */



/* icone avec font-awesome */
/*
.social-network span		{display:none;}
.social-network span.share	{display:initial;}
.social-network li		{display: inline-block; margin: 0 0.3em 0 0; padding: 0 3px; background-color: #F2F2F2;	border: solid 1px#CCC ;	border-radius: 8px;}
.social-network li a		{width: 1.28571em; text-align: center; display: inline-block; text-decoration:none; }
.social-network li a:hover	{color: #555; font-weight:bold;}

.social-network .twitter:before 		{font-family: FontAwesome;	content: "\f099"; }
.social-network .facebook:before 		{font-family: FontAwesome;	content: "\f09a";}
.social-network .google-plus:before 		{font-family: FontAwesome;	content: "\f0d5";}
.social-network .linkedin:before 		{font-family: FontAwesome;	content: "\f0e1";}
.social-network .diaspora:before 		{font-family: FontAwesome;	content: "\f069";}
.social-network .courriel:before 		{font-family: FontAwesome;	content: "\f003";}
.social-network .reddit:before 			{font-family: FontAwesome;	content: "\f1a1";}
.social-network .stumbleupon:before 		{font-family: FontAwesome;	content: "\f1a4";}
.social-network .tumblr:before 			{font-family: FontAwesome;	content: "\f173";}
.social-network .delicious:before		{font-family: FontAwesome;	content: "\f1a5";}
.social-network .pocket:before 			{font-family: FontAwesome;	content: "\f265";}
.social-network .share-alt:before 		{font-family: FontAwesome;	content: "\f1e0";}
/* */
