/*
Styles CSS
----------

Par David TARCZEWSKI
*/

@font-face {
    font-family: 'learning_curve_proregular';
    src: url('LearningCurve_OT-webfont.eot');
    src: url('LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
         url('LearningCurve_OT-webfont.woff') format('woff'),
         url('LearningCurve_OT-webfont.ttf') format('truetype'),
         url('LearningCurve_OT-webfont.svg#learning_curve_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{
	background-color: #000;
	color: #fff;
}

h1
{
	font-family: 'learning_curve_proregular', Arial, Serif;
	font-weight: bold;
}

h1, strong {
	color: #FF0000;
	}
h2
{
	font-style: oblique;
}
	
h2, em {
	color: #0000FF;
	}
	
h3 {
	color: #444;
	}
	
h4 {
	color: #666;
	}
	
h5 {
	color: #777;
	}
	
h6 {
	color: #888;
	}
	
p	{
	color: #bbb;
	font-size: 100%;
	}

mark
{
	background-color: #ff0000;
	color: #000;
}

.perso1	{
	color: #00FFFF;
	font-size: 200%;
	}
	
.intro	{
	color: #006600;
	font-size: 150%;
	}
	
.serif{
	font-family: serif;}
.sans-serif{
	font-family: sans-serif;}
.monospace{
	font-family: monospace;}
.cursive{
	font-family: "Comic sans ms", cursive;}
.fantasy{
	font-family: impact, fantasy;}