/*-------------------------*\
    Feuille de style CSS
    David TARCZEWSKI
\*-------------------------*/
@font-face {
    font-family: 'eastmarketregular';
    src: url('polices/eastmarket_regular_macroman/EastMarket-webfont.eot');
    src: url('polices/eastmarket_regular_macroman/EastMarket-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/eastmarket_regular_macroman/EastMarket-webfont.woff') format('woff'),
         url('polices/eastmarket_regular_macroman/EastMarket-webfont.ttf') format('truetype'),
         url('polices/eastmarket_regular_macroman/EastMarket-webfont.svg#eastmarketregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'underwood_championregular';
    src: url('polices/underwoodchampion_regular_macroman/underwood_champion-webfont.eot');
    src: url('polices/underwoodchampion_regular_macroman/underwood_champion-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/underwoodchampion_regular_macroman/underwood_champion-webfont.woff') format('woff'),
         url('polices/underwoodchampion_regular_macroman/underwood_champion-webfont.ttf') format('truetype'),
         url('polices/underwoodchampion_regular_macroman/underwood_champion-webfont.svg#underwood_championregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'underwood_championregular';
}

header {
	padding: 1%;
  position: relative;
  left: 10%;
  top: 5%;
	width: 40%;
  display: inline-block;
	font-family: 'eastmarketregular', sans-serif;
	text-align: center;
}

header img {
	float: left;
}

nav {
	padding: 10px;
	margin-top: 10px;
	vertical-align: top;
}

h1, h2, h3 {
	font-family: 'eastmarketregular', sans-serif;
	color: #808080;
}

a {
	color: #258fd6;
	font-weight: bold;
	text-decoration: none;
}

section {
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
}

.pages {
  width: 95%;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
}

.moi {
	display: inline-block;
	float: right;
}

/* centrer la fenetre du cv ??
.cv {
	text-align: center;
}
*/
.pageprecedente {
	text-align: left;
	display: inline-block;
	float: left;
}
.pagesuivante {
	text-align: right;
	display: inline-block;
	float: right;
}

footer {

	padding: 2rem 0;
  border-top: 3px solid #444;
	margin-top: 10px;
	color: #808080;
	font-weight: bold;
	font-size: 80%;
	font-family: sans-serif;
	text-align: center;
  width: 80%;
  margin: auto;
}
