body
{
   width: 760px;
   margin: auto; /* Pour centrer notre page */
   margin-top: 20px; /* Pour éviter de coller avec le haut de la fenêtre du navigateur. Essayez d'enlever pour voir ! */
   margin-bottom: 20px;    /* Idem pour le bas du navigateur */
   background-image: url("img/test_fond_02.gif"); /* Une petite image de fond pour éviter d'avoir un vieux fond blanc :p */
}

/* L'en-tête */
header
{
   width: 700px;
   height: 200px;
   margin-bottom: 10px;
}

header h1{
	text-align: center;
   font-family: Arial, "Arial Black", "Times New Roman", Times, serif;
}

/* Le menu */
nav
{
   float: left; /* Le menu flottera à gauche */
   width: 120px; /* Très important : donner une taille au menu */
}

.element_menu
{
   background-color: #b8da4b;
   border: none;
   margin-bottom: 20px; /* Pour éviter que les éléments du menu ne soient trop collés */
}

/* Quelques effets sur les menus */
.texte_menu
{
   color: #1e5a00;
   font-size: 0.8em;
   font-weight: bold;
}
.element_menu h3 /* Tous les titres de menus */
{    
   color: #1e5a00;
   font-family: Arial, "Arial Black", "Times New Roman", Times, serif;
   text-align: center;
}
.element_menu ul /* Toutes les listes à puces se trouvant dans un menu */
{
   list-style-image: url("img/puce.png"); /* On change l'apparence des puces */
   padding: 0px; /* Tous les côtés ont une marge intérieure de 0 pixels */
   padding-left: 15px; /* ... mais on modifie ensuite la marge de gauche, donc celle-là fera finalement 15 pixels */
   margin: 0px; /* Idem pour margin, ça nous évite d'avoir à en écrire 4 (margin-left, margin-right...) */
   margin-bottom: 5px; /* Même chose que tout à l'heure, on modifie ensuite juste margin-bottom, mais tous les autres sont à 0px */
}
.element_menu a /* Tous les liens se trouvant dans un menu */
{
   color: #1e5a00;
   font-size: 0.8em;
   font-weight: bold;
   text-decoration:none;
   font-style: italic;
}
.element_menu a:hover /* Quand on pointe sur un lien du menu */
{
   background-color: #1e5a00;
   color: black;
}
.sous_element_menu ul  /* On change l'apparence des puces */
{
	list-style-image: url("img/puce2.png");
}

/* Le corps */
section
{
   margin-left: 140px; /* Une marge à gauche pour pousser le corps, afin qu'il ne passe plus sous le menu */
   margin-bottom: 20px; /* Ca c'est pour éviter que le corps colle trop au pied de page en-dessous */
   padding: 5px; /* Pour éviter que le texte à l'intérieur du corps ne colle trop à la bordure */
   
   color: #0073e6;
   background-image: url("test_fond_02.gif");
   
   min-height: 600px;
   
   border: 3px double #0073e6; /* Une bordure pour bien marquer les limites du corps et pour faire joli */
}

section h1 /* Tous les titres h1 du corps */
{
   text-align: center;
   font-family: Arial, "Arial Black", "Times New Roman", Times, serif;
}

section h2 /* Tous les titres h2 du corps */
{
	
	height: 30px;

	background-image: url("images/titre.png"); /* Une petite image de fond sur les titres h2 A CREER!! */
	background-repeat: no-repeat; /* L'image ne se répètera pas, elle sera à gauche du titre */
   
	padding-left: 30px;
	text-align: left;
}


/* Le pied de page (qui se trouve tout en bas, en général pour les copyrights) */

footer
{
   padding: 5px;

   text-align: center;

   color: #0073e6;
   background-color: #37ffff;
   background-image: url("images/motif.png");
   background-repeat: repeat-x;
   
   border: 2px solid #0073e6;
}

a
{
text-decoration:none;
}
a img
{
  border: none;
}
