/**Feuille de style CSS
**
**
**Par David T
**/
@font-face {
    font-family: 'underwood_championregular';
    src: url('polices/underwoodchampion_regular_macroman/underwood_champion-webfont.eot');
    src: url('polices/underwoodchampion_regular_macroman/underwood_champion-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/underwoodchampion_regular_macroman/underwood_champion-webfont.woff') format('woff'),
         url('polices/underwoodchampion_regular_macroman/underwood_champion-webfont.ttf') format('truetype'),
         url('polices/underwoodchampion_regular_macroman/underwood_champion-webfont.svg#underwood_championregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
   width: 760px;
   margin: auto; /* Pour centrer notre page */
   margin-top: 20px; /* Pour éviter de coller avec le haut de la fenêtre du navigateur. Essayez d'enlever pour voir ! */
   margin-bottom: 20px;    /* Idem pour le bas du navigateur */
   background: url("img/test_fond.gif") fixed;
}

/* L'en-tête */
header
{
   /*width: 760px;
   height: 200px;
   margin-bottom: 10px;*/
}

/* Le menu */
nav
{
   display: inline-block;
   width: 17%; /* Très important : donner une taille au menu */
   vertical-align: top;
   color: #A77B40;
   background-color: #F3E6D5;  
   border: 1px solid #A77B40;
}

nav section
{
   background-image: url("img/test_fond-3.gif");
   border: none;
   padding: 0px;
   margin-bottom: 20px;
	color: #4b6253;
   font-size: 0.8em;
   font-weight: bold;
}

.element_menu
{
   background-image: url("img/test_fond-3.gif");
   border: none;
   margin-bottom: 20px; /* Pour éviter que les éléments du menu ne soient trop collés */
}

/* Quelques effets sur les menus */
.texte_menu
{
   color: #4b6253;
   font-size: 0.8em;
   font-weight: bold;
}
.element_menu h3 /* Tous les titres de menus */
{    
   color: #1e5a00;
   font-family: Arial, "Arial Black", "Times New Roman", Times, serif;
   text-align: center;
}
.element_menu ul /* Toutes les listes à puces se trouvant dans un menu */
{
   list-style-image: url("img/puce.png"); /* On change l'apparence des puces */
   padding: 0px; /* Tous les côtés ont une marge intérieure de 0 pixels */
   padding-left: 15px; /* ... mais on modifie ensuite la marge de gauche, donc celle-là fera finalement 15 pixels */
   margin: 0px; /* Idem pour margin, ça nous évite d'avoir à en écrire 4 (margin-left, margin-right...) */
   margin-bottom: 5px; /* Même chose que tout à l'heure, on modifie ensuite juste margin-bottom, mais tous les autres sont à 0px */
}
.element_menu a /* Tous les liens se trouvant dans un menu */
{
   color: #1e5a00;
   font-size: 0.8em;
   font-weight: bold;
   text-decoration:none;
   font-style: italic;
}
.element_menu a:hover /* Quand on pointe sur un lien du menu */
{
   background-color: #1e5a00;
   color: black;
}
.sous_element_menu ul  /* On change l'apparence des puces */
{
	list-style-image: url("img/puce2.png");
}

/* Le corps */
section
{
	display: inline-block;
	vertical-align: top;
	width: 77%;
	min-height: 400px;
   margin-bottom: 20px; /* Ca c'est pour éviter que le corps colle trop au pied de page en-dessous */
   padding: 15px; /* Pour éviter que le texte à l'intérieur du corps ne colle trop à la bordure */
   color: #4b6253;
   background: url("img/test_fond-3.gif"); fixed;
   border: 3px double #e3a554; /* Une bordure pour bien marquer les limites du corps et pour faire joli */
   /*box-shadow: 6px 6px 10px #574630;*/
}

section h1 /* Tous les titres h1 du corps */
{
   text-align: center;
   font-family: 'underwood_championregular', Arial, "sans-serif";
}

section h2 /* Tous les titres h2 du corps */
{
	font-family: 'underwood_championregular', Arial, "sans-serif";
   text-decoration: underline;
	height: 30px;

	background-image: url("images/titre.png"); /* Une petite image de fond sur les titres h2 A CREER!! */
	background-repeat: no-repeat; /* L'image ne se répètera pas, elle sera à gauche du titre */
   
	padding-left: 30px;
	text-align: left;
}

section h2 + p {
	padding-left: 30px;
}

section h3
{
	font-family: 'underwood_championregular', Arial, "sans-serif";
	font-style: italic;
	height: 25px;
	padding-left: 50px;
	
}


section h3 + p {
	padding-left: 50px;
}

section h4
{
	font-family: 'underwood_championregular', Arial, "sans-serif";
	font-style: italic;
	padding-left: 75px;
	
}

section h4 + p {
	padding-left: 80px;
}

section p
{
	font-family: 'underwood_championregular', "Times New Roman", Times, serif;
}

.imageflottante
{
    float: left;
}


/* Le pied de page (qui se trouve tout en bas, en général pour les copyrights) */

footer
{
   padding: 5px;
	font-family: 'underwood_championregular', Arial, "sans-serif";
   text-align: center;
   color: #A77B40;
   background-color: #F3e6D5;  
   border: 2px solid #A77B40;
   /*box-shadow: 6px 6px 10px #574630;*/
}

a
{
	color: #7C4E0F;
	text-decoration:none;
}
.pub a
{
	color: #40a76f;
	text-decoration:none;
}
a img
{
  border: none;
}