@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Fjalla+One:100,400);

/************************************************
/* Thème ShineOn V 1.0 - 2013                   *
/* Basé sur le thème de base de Benjamin PIERRE *
/************************************************
 
/* 458595 
/* 1c1c1c

/* 1 - Reset [ based on E.Meyer work ] */

html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, span, blockquote, label, input, textarea, form, fieldset{
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

input{
	vertical-align: middle;
	}
  
textarea{
	width: 100%;
	max-width: 100%!important;
	}

/* 2 - Basic Styles */

html { overflow-x: hidden; }

body {
    background: #eee url('img/body.jpg')top center repeat fixed;
    /* background: #aaa url('img/fond2.png')top center repeat fixed; */  
    color: #636363;
    font: 11px/1.7 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

a, a > * {
    color: #458595;
    text-decoration: none;
        -webkit-transition: background-color .5s ease, border .5s ease, color .5s ease, opacity .5s ease-in-out, outline .5s ease;
           -moz-transition: background-color .5s ease, border .5s ease, color .5s ease, opacity .5s ease-in-out, outline .5s ease;
            -ms-transition: background-color .5s ease, border .5s ease, color .5s ease, opacity .5s ease-in-out, outline .5s ease;
             -o-transition: background-color .5s ease, border .5s ease, color .5s ease, opacity .5s ease-in-out, outline .5s ease;
                transition: background-color .5s ease, border .5s ease, color .5s ease, opacity .5s ease-in-out, outline .5s ease;
}
    
a:hover, a > *:hover {
    color: #1c1c1c;
}

h1 { font-size: 30px; }
h3 { font-size: 18px; font-weight: 600; padding-bottom: 8px; }
h4 { font-size: 16px; font-weight: 400; }
h5 { font-size: 12px; }
h6 { font-size: 11px; }

h1, h2, h3, h4, h5, h6 {
  color: #1c1c1c;
  font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  line-height: 1.25;
  text-transform: normal;
}

/* 3 - Global */
#enveloppe {
  background-color: transparent; 
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 32px;
  width:994px;
	min-height:600px!important;
	position:relative;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  border-radius: 8px;
}
    
#header, #section {
	background-color: #fff;
	margin: 0 auto;
	width: 994px; 
}
  
/**** Header *****/

#header {
	background: #1c1c1c;
	margin-top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid #eee;
}

#header h1 a  {
  font-family: 'Fjalla One', cursive;
  font-size: 1.2em;
	display: inline-block;
  margin-top: 12px;
  margin-left: 15px;
  color: #458595;
  border-bottom: 1px solid #eee;
}
  
#header h1 a:hover  {
	display: inline-block;
  color: #eee;
  border-bottom: 1px solid transparent;
}

#header p {
  padding: 0px 0px 20px 15px;
  font: 15px/1.7 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; 
	color: #eee;
  } 
  
.minilink {
  position: absolute;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 12px;
  top: 0em;
  right: 2em;
  height: 12px;
  background-color: #458595;
  font-size: 0.9em;
  color: #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.minilink a {
  color: #eee;
  border-bottom: 1px dotted #eee;
}

.minilink a:hover {
  color: #eee;
  border-bottom: 1px dotted transparent;
}

#section{
	background: #fff url('img/sep_d.png') repeat-y 686px 0;
}  

#section:after{
	content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
    }

img {
  max-width: 664px;
}
#article {   
	float: left;
	padding: 0;
	width: 680px;
  padding-bottom: 20px;
}

#article h1 {
  font-family: 'Fjalla One', cursive;
  font-size: 1.8em;
  margin-top: 18px;
  margin-bottom: 16px;
  padding-top: 6px;
  padding-left: 8px;
  padding-bottom: 6px;
  color: #458595;
  background: -moz-linear-gradient(left, rgba(0,0,0,0.12) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.12)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.12) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0,0,0,0.12) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0,0,0,0.12) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(0,0,0,0.12) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

#article h2 {
  font-family: 'Fjalla One', cursive;
  font-size: 1.8em;
  background: url('img/titre-news.png') no-repeat;
  height: 77px;  
  margin-top: 2px;
  padding-top: 4px;
  padding-left: 8px;
  padding-bottom: 12px;
  color: #458595;
}

#article h2 a { 
  color: #458595;
  font-family: 'Fjalla One', cursive;
  font-size: 1.2em;
}

#article h2 a:hover {
  color: #1c1c1c;
}


/* Top Infos */

#article .infosnews {
  margin-top: -58px;
  margin-left: 32px;
  background: transparent;
}

#article .art-topinfos, #article .art-infos, #article.feed-art-com, #article.feed-arts {
	font-size: 1.05em;
	color:#555;
	}
.art-topinfos a, .art-infos a, .feed-art-com a, .feed-arts a {
	color:#458595;
	}
.art-topinfos a:hover, .art-infos a:hover, .feed-art-com a:hover, .feed-arts a:hover {
	text-decoration: underline;
	}
  
.art-topinfos .date {
}

/* Art Chapo */
  
.art-chapo {
  margin: 10px 0;
  padding-bottom: 18px;
  background: url('img/separation.png') left bottom no-repeat;
  font-size: 13px;
  text-align: justify;
	}
  
  
/* Art Infos */
  
.art-infos{
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	}

.art-infos .tag {
}

.art-infos .commentaires {
}

.art-topinfos, .art-chapo, .art-content, #footer p, .art-infos, .feed-art-com, .feed-arts, .static-content, .error-content{
	padding-left: 12px;
	padding-right: 8px;
  font: 13px/1.7 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  color: #1c1c1c;
	}
  
.author-infos{
	background: #ffffff url('img/sep_d.png') repeat-x bottom;
	margin: 0 20px;
	padding: 10px;
	}

/* Lire la suite de l'article */
.more {
	font-size: 1.1em;
	margin: 20px 0px 4px -12px;
	}                                         
  
.more a {
	color: #fff;
  background-color:#458595;
  padding: 4px 12px 4px 12px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

}
  
.more a:hover {
  color: #1c1c1c;
  background-color:#dedede;
}
  
#article ul, #article ol{
	margin: 0 0 0 20px;
}

/** 3-1 - Header **/

#skip{
	background-color: #152F40;
	padding: 0  0 10px 0;
	}

#skip li{
	display: inline;
	margin: 0 15px 0 0;
	}

#skip li a{
	color: #FFFFFF;
	font-size: 1.1em;
	}

#skip li a:hover{
	text-decoration: underline;
	}


#article p {
  text-align: justify;
	} 
 

/* ---------- NAV ---------- */

/* Menu haut */

.nav { 
  display: block; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 45px; 
  width: 100%;
  zoom: 1;
  padding: 2px 2px 2px 2px; 
  background: #eee;
  font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  color: #1c1c1c;
}
.nav ul { 
  list-style: none;
  padding: 0px;

 }

.nav ul li { 
  display: block;
  float: left;
  position: relative;
  border-right: 1px solid #d5d5d5
}

.nav ul li a { 
  display: block; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 43px;
  margin: 0;
  padding: 0 8px;
  color: #fff; 
  font-size: 1.2em;
  color: #555;
  border-bottom: 1px solid #eee;
  
}

.nav ul li:hover > a {
  color: #1c1c1c;
  background: #eee;
  border-bottom: 1px solid #458595;
  color: #1c1c1c;
}

.nav ul li a.active {
  color: #1c1c1c;
  background: #458595;
  border-bottom: 1px solid #458595;
  color: #fff;
}

/* sous menu niv 1 */

.nav ul li ul {  
  display: block;
  margin: 0;  
  padding: 0; 
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: rgba(240,240,240,.9);
  width: 210px;
  top: 43px;
  left: -0.1em;
  right: 0px;
  z-index: 9999;  
  -moz-transition: .3s all .1s;
  -webkit-transition: .3s all .1s;
  -o-transition: .3s all .1s;
  -ms-transition: .3s all .1s;
  transition: .3s all .1s;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  border-top: 1px solid #d5d5d5;

}

.nav ul li:hover > ul {
  opacity: 1;
  visibility: visible; 
  color: #fff;

}

.nav ul li ul li { 
  display: block;
  width: 100%;
  border: none;
}

.nav ul li ul li a { 
  width: 100%;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  line-height: 32px;
  border: none;
  
}

.nav ul li ul li:hover a {
  background: #458595;
  border: none; 
  color: #fff;  
}

.nav ul li ul li a:hover {
  border: none; 
}

/* sous menu niv 2 */

.nav ul li ul li ul {  
  display: absolute;
  margin-left: 210px;  
  margin-top: -43px; 
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 210px;
  top: 43px;
  left: 0;
  right: 0px;
  z-index: 9999;  
  -moz-transition: .3s all .1s;
  -webkit-transition: .3s all .1s;
  -o-transition: .3s all .1s;
  -ms-transition: .3s all .1s;
  transition: .3s all .1s;
}

.nav ul li ul li:hover > ul {
  opacity: 1;
  visibility: visible; 
}

.nav ul li ul li ul li { 
  display: block;
  width: 100%;
}

.nav ul li ul li ul li a { 
  width: 100%;
  padding: 0;
  margin: 0;
  padding-left: 10px;
  line-height: 32px;

}

.nav ul li ul li ul li:hover a {
 background: rgba(240,240,240,0.85);
  border: none; 
  color: #1c1c1c;
}

  
/* fin menu haut */ 


.feed ul{
	float: right;
	}

.feed ul li{
	margin: -5px 0 0 10px!important;
	}

/** 3-2 - aside **/

#aside {
	float: right;
	width: 280px;
  margin-top: 0px;
  margin-right: 16px;
  font: 1.2em 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  min-height: 700px;
	} 

#aside h5 {
	background:url('img/tridots.png') left center repeat-x;
  line-height: 1.5;
  margin-top: 16px;
  padding-left: 8px;
  margin-right: 8px;
  color: #444;
  text-transform: uppercase;
  font-family: 'Fjalla One', cursive;
  font-size: 1.2em;
  font-weight: normal;
}

#aside h5 span  {
background:#fff;
padding:0 10px;
margin-left:10px;
}

#aside a {
  font-size: 13px;
  color: #1c1c1c;
  border-bottom: 0.01em dotted transparent;  
  }
 
#aside a:hover {
  color: #458595;
  border-bottom: 0.01em dotted #458595; 
  }
 
#aside ul {
  text-align: left;
  list-style: none;
  }

#aside li {
  padding-top: 3px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 0px;
  margin-left: 28px; 
  list-style: disc outside;
  color: #458595;
}

#aside li:hover {
}

#aside .nbr {
  font-size: 10px;
  background: #e5e5e5;
  margin-left: 8px;
  padding-left: 5px;
  padding-right: 5px;
  color: #444;
  border-radius: 16px;
}


#aside .tagon {
  background: transparent;
  line-height: 30px;
}

#aside .tagon a {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 3px 6px 3px 6px;
  color: #458595;
}

#aside .tagon a:hover {
  background: #fff;
  border: 1px solid #ddd;
  color: #1c1c1c;
}

/* FOOTER */

#footer {
	margin-bottom: 30px;
  padding: 8px;
	font-size: 1.2em;
  background-color: #1c1c1c;
  color: #eee;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
	}

#footer span{
	float: right;
	font-size: 1.0em;
  color: #eee;
}

#footer p{
	font-size: 1.2em;
  color: #eee;
} 

#footer a {
  color: #458595;
}
  
#footer a:hover {
  color: #fff;
}

#footer .minilink_bas {
  position: absolute;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 12px;
  bottom: 0em;
  right: 2em;
  height: 12px;
  font-size: 0.8em;
  background-color: #458595;
  color: #eee;
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-top: 1px solid #eee;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#footer .minilink_bas a {
  color: #eee;
  border-bottom: 1px dotted #eee;
}

#footer .minilink_bas a:hover {
  color: #eee;
  border-bottom: 1px dotted transparent;
}

/* 4 - Comments & Forms */

#comments {
  background: url('img/sep_d.png') repeat-x bottom;
}

#comments h2  {
  font-family: 'Fjalla One', cursive;
  font-size: 2.0em;
  background: url('img/titre-comment.png') no-repeat; 
  height: 71px; 
  margin-top: 0px;
  padding-top: 4px;
  text-shadow: 1px 1px 0em #fff, 2px 2px 0em #ccc;
}


form{
	margin: 0 20px;
	padding: 0 0 10px 0;
}

#form h2{
  font-family: 'Fjalla One', cursive;
  font-size: 1.8em;
	background: url('img/titre-comment.png') no-repeat; 
  height: 71px; 
  margin-top: 0px;
  padding-top: 4px;
}
  
#form > h2, #form h2 + p {
  padding-left: 6px;
}

blockquote {
        margin: 15px 20px 20px 20px;
        background: url('img/quote.png') no-repeat 30px 28px;
        border: 1px solid #777;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        font-style: italic;
        font: 1.2em 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
        padding: 28px 20px 24px 50px;
        position: relative;
        background-color: #f0f0f0; 
    }


.num-com{
	float: right;
	font-size: 1.1em;
	}

.info_comment {
	font-size: 1.1em;
	}

.content_com {
	padding: 15px 15px 15px 15px;
	}

.type-normal {
	background: #e0e0e0 url('img/comment-user.png') bottom right no-repeat;;
  color: #1c1c1c;
	-webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
padding-right:48px;
  }

.type-admin {
	background: #458595 url('img/comment-admin.png') bottom right no-repeat;
  color: #fff;
	-webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
padding-right:48px;
	}
  
.type-admin a {
	color: #fff;
  border-bottom: 1px dotted #fff;
	}
  
.type-admin a:hover {
	color: #ddd;
  border-bottom: 1px dotted transparent;
	}

.feed-art-com{
	margin: 0 0 10px 0;
	padding: 0 20px 15px 20px;
	}

.com-alert{
	color: #730E20;
	font-weight: bold;
	text-align: center;
	}

label{
	display: block;
	margin: 0 0 5px 0;
	}

input[type=text], textarea{
	border: 1px solid #DDDDDD;
	margin: 0 0 10px 0;
	}

input[type=text]:hover, textarea:hover{
	border: 1px solid #AAAAAA;
	cursor: pointer;
	}

input[type=text]:focus, textarea:focus{
	border: 1px solid #777777;
	}

input[type=submit], input[type=submit] + p{
	display: inline;
	}

input[type=submit] + p{
	margin: 0 0 -5px 10px;
	}

input[type=submit]{
	background-color: #458595;
	border: 1px solid #CCCCCC;
	padding: 3px 4px;
  color: #fff;
	}

input[type=submit]:hover{
	background-color: #EEEEEE;
	color: #1c1c1c;
	cursor: pointer;
	}

input[type=submit]:active{
	background-color: #458595;  
	}

/** 5 - Pagination **/

#pagination{
	text-align:center;
	padding: 0 0 5px 0;
	font-size: 1.0em;
	margin: 20px 0 5px 20px;
	}

#pagination span{
	margin-right:5px;
	}

#pagination .p_page{
	border: 1px #DDDDDD solid;
	padding: 3px 5px;
  color: #458595;
	}

#pagination .p_prev a, #pagination .p_first a, #pagination .p_last a, #pagination .p_next a{
	border: 1px #DDDDDD solid;
	padding: 3px 5px;
  background-color: #458595;
  color: #fff;
	}

#pagination span a:hover{
	background-color: #eee;
	color: #1c1c1c;
	cursor: pointer;
	}

#pagination span a:active{
	background-color: #458595;
	}
  
/* nouveaux éléments -- iframe object img */

iframe {
  padding: 6px;
  border: 3px solid #e0e0e0;
  margin: 0 auto;
  display:block;

}

video {
  padding: 4px;
  border: 3px solid #ddd;
}

.capcha-word {
  color: #458595;
  font-size: 1.25em;
}


/* Tableaux */

table,td
{
	border               : 1px solid #CCC;
	border-collapse      : collapse;
  font                 : small/1.5 "Tahoma", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
}
table
{
	width: 100%;
  border                :none;
	border                :1px solid #CCC;
}
thead th,
tbody th
{
	background            : #EEE;
  color                 : #666;  
	padding               : 5px 10px;
  border-left           : 1px solid #CCC;
}
tbody th
{
  background            : #fafafb;
  border-top            : 1px solid #CCC;
  text-align            : left;
  font-weight           : normal;
}
tbody tr td
{
	padding               : 5px 10px;
  color                 : #666;
}
tbody tr:hover
{
  background            : #FFF;
}

tbody tr:hover td
{
  color                 : #454545;
}
tfoot td,
tfoot th
{
  border-left           : none;
  border-top            : 1px solid #CCC;
	padding               : 5px 10px;
  background            : #EEE;
  color                 : #666;
}
caption
{
	text-align            : left;
	font-size             : 120%;
	padding               : 10px 0;
	color                 : #666;
}
table a:link
{
	color                 : #666;
}
table a:visited
{
	color                 : #666;
}
table a:hover
{
	color                 : #003366;
	text-decoration       : none;
}
table a:active
{
	color                 : #003366;
}      

/* Boutons */

.button{margin-right:4px;}
.button,.button span{display:inline-block;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.button{white-space:nowrap;line-height:1em;position:relative;outline:none;overflow:visible;cursor:pointer;border:1px solid #999;border:rgba(0,0,0,.2) 1px solid;border-bottom:rgba(0,0,0,.4) 1px solid;-webkit-box-shadow:0 1px 2px rgba(0,0,0,.2);-moz-box-shadow:0 1px 2px rgba(0,0,0,.2);box-shadow:0 1px 2px rgba(0,0,0,.2);background:-moz-linear-gradient(center top,rgba(255,255,255,.1) 0%,rgba(0,0,0,.1) 100%);background:-webkit-gradient(linear,center bottom,center top,from(rgba(0,0,0,.1)),to(rgba(255,255,255,.1)));filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF',EndColorStr='#19000000');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#19FFFFFF', EndColorStr='#19000000')";-moz-user-select:none;-webkit-user-select:none;-khtml-user-select:none;user-select:none;margin-bottom:10px;}
.button.full,.button.full span{display:block;}
.button:hover,.button.hover{background:-moz-linear-gradient(center top,rgba(255,255,255,.2) 0%,rgba(255,255,255,.1) 100%);background:-webkit-gradient(linear,center bottom,center top,from(rgba(255,255,255,.1)),to(rgba(255,255,255,.2)));filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF',EndColorStr='#19FFFFFF');-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#33FFFFFF', EndColorStr='#19FFFFFF')";}
.button:active,.button.active{top:1px;}
.button span{position:relative;color:#fff;font-weight:bold;text-shadow:0 1px 1px rgba(0,0,0,0.25);border-top:rgba(255,255,255,.3) 1px solid;padding:0.5em 0.95em;line-height:1em;text-decoration:none;text-align:center;white-space:nowrap;}
.button.black{background-color:#1c1c1c;}
.button.gray{background-color:#666666;}
.button.light-gray{background-color:#D5D2D2;text-shadow:1px 1px 0px #FFF;}
.button.light-gray span{color:#242424;text-shadow:1px 1px 0px #e7e7e7;border-top:rgba(255,255,255,.6) 1px solid;}
.button.red{background-color:#e62727;}
.button.orange{background-color:#f24919;}
.button.magenta{background-color:#A9014B;}
.button.yellow{background-color:#ffb515;}
.button.blue{background-color:#00ADEE;}
.button.blue2{background-color:#1E90FF;}
.button.pink{background-color:#e22092;}
.button.green{background-color:#91bd09;}
.button.rosy{background-color:#F16C7C;}
.button.brown{background-color:#804000;}
.button.purple{background-color:#800080;}
.button.cyan{background-color:#46C7C7;}
.button.gold{background-color:#D4A017;}


/* TOOLTIP */
  
.tooltip {
  position: relative;
  cursor: help;
  display: inline-block;
  text-decoration: none;
  color: #1c1c1c;
  outline: none;
  border-top: 1px dotted #458595;
  background-color: #f4f4f4;
  border-bottom: 1px dotted #458595;  
}

.tooltip span {
  visibility: hidden;
  position: absolute; 
  bottom: 30px;
  left: 50%;
  z-index: 999;
  width: 230px;
  margin-left: -127px;
  padding: 10px;
  border: 2px solid #458595;
  opacity: .85;
  background-color: #dedede;                     
  background-image: -webkit-linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,0));  
  -moz-border-radius: 4px;
  border-radius: 4px;  
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.5) inset;  
  text-shadow: 0 1px 0 rgba(255,255,255,.2); 
}

.tooltip:hover {
  border: 0; /* IE6 fix */
  border-bottom: 1px dotted transparent;
}

.tooltip:hover span {
  visibility: visible;
}

.tooltip span:before,.tooltip span:after {
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;  
  border-top: 8px solid #458595;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;        
  border-bottom: 0;  
}

.tooltip span:before  {
  border-top-color: #458595;
  bottom: -8px;
}

.gallery img { float:left; padding:2px; margin:4px;}
.gallery a img { margin:4px;}
.gallery a:hover img { margin:4px;}

/*slider frame*/
#slider {
  padding-left: 9px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.coin-slider {
  padding: 4px;
  box-shadow: 0 0 4px #888;
}

#affiche_rss {
  border: 2px solid #ddd;
  margin: 10px;
  -webkit-border-top-right-radius: 64px;
  -webkit-border-bottom-left-radius: 64px;
  -moz-border-radius-topright: 64px;
  -moz-border-radius-bottomleft: 64px;
  border-top-right-radius: 64px;
  border-bottom-left-radius: 64px;
  background: #f5f5f5;

}

#affiche_rss ul {
  text-align: left;
  list-style: none;
  }

#affiche_rss li {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 3px;
  padding-left: 24px;
  margin-left: 24px;
  color: #458595;
  font-size: 1.2em;
  list-style-type: none;
  background-image: url('img/rss.png');
  background-repeat: no-repeat;
  background-position: 0 0.32em;
}

#affiche_rss li:hover {
}

#affiche_rss h1 {
  font-family: 'Fjalla One', cursive;
  margin: 0px;
  color: #458595;
  background: -moz-linear-gradient(left, rgba(0,0,0,0.12) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.12)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.12) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(0,0,0,0.12) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(0,0,0,0.12) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(0,0,0,0.12) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
}

