/*
# Thème pour la zone d'administration de PluXml
# Copyright (c) 2015 Pluxopolis
# Site			http://pluxopolis.net
# Authors		Stéphane F.
#
# Installation: Administration > Paramètres > Configuration avancée :
# Emplacement et nom du fichier css personnel pour la personnalisation de l'interface d'administration
*/
.aside, .header {
	text-align:left;
}

@media (max-width: 767px) {
	.header {
		padding-left: 10px;
	}
}

/* ===== Ajout des icônes devant les menus ===== */

@font-face {
	font-family: 'fontello';
	src: url('font/fontello.eot?22929757');
	src: url('font/fontello.eot?22929757#iefix') format('embedded-opentype'),
		url('font/fontello.woff?22929757') format('woff'),
		url('font/fontello.ttf?22929757') format('truetype'),
		url('font/fontello.svg?22929757#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

ul#responsive-menu li a:before {
	padding-right: 10px;
	font-family: "fontello";
}
ul#responsive-menu li#mnu_articles a:before { content: '\e80c'; }
ul#responsive-menu li#mnu_nouvel-article a:before { content: '\e807'; }
ul#responsive-menu li#mnu_medias a:before { content: '\e808'; }
ul#responsive-menu li#mnu_pages-statiques a:before { content: '\e80d'; }
ul#responsive-menu li#mnu_commentaires a:before { content: '\e808'; }
ul#responsive-menu li#mnu_categories  a:before { content: '\e80a'; }
ul#responsive-menu li#mnu_profil   a:before { content: '\e806'; }
ul#responsive-menu li#mnu_parametres    a:before {  content: '\e809'; }

ul#responsive-menu li a {
	background-color: transparent;
	font-family: 'Lucida Grande',Verdana,sans-serif;
	font-size: 0.95rem;
}

ul#responsive-menu .menu-config  a{
	font-size: 0.8rem;
}

/* ===== Personnalisation des couleur */

/* couleur de fond de la page */
html, .main {
	background-color: #f9f9f9;
}

/* couleur des liens */
a {
	color: #675936;
}
/* couleur de fond de la sidebar */
.aside {
	background-color: #A29368;
}
/* couleur des liens: retour au site + déconnexion */
.aside a {
	color: #fff;
}
/* couleur du titre du site + nom d l'utilisateur connecté */
.aside .profil {
	background-color: #FEF7E5;
	color: #000;
	border-top: 1px solid #544830;
	border-bottom: 1px solid #544830;
}
/* couleur du texte du n° de version de PluXml */
.aside .header a.version {
	color: #000;
}
/* couleur de fond des sous menus */
.aside .menu-config  {
	background-color: transparent;
}
/* couleur des onglets au survol de la souris */
ul#responsive-menu li:hover {
	background-color: #fff;
	color: #000;
}
/* couleur des menus au survol de la souris */
ul#responsive-menu li a:hover{
	color: #000;
}
/* couleur de fond l'onglet actif et de son menu */
ul#responsive-menu li.active,
ul#responsive-menu li.active a,
ul#responsive-menu li.active:hover {
	 background-color: #fff;
	 color: #000;
}

/* couleur de la barre d'action */
.section .action-bar {
	background-color: #675936;
	color: #fff;
}
.section .action-bar a {
	color: #fff;
}
.section .action-bar
input[type="submit"] {
	background-color: #A29368;
	color: #fff;
}
.section .action-bar
input[type="submit"]:hover {
	background-color: #fff;
	color: #000;
}
.section .action-bar
input[type="submit"].red {
	background-color: #FEF7E5;
	color: #000;
}
input[type="submit"].red:hover {
	background-color: #fff !important;
	color: #000 !important;
}

/* couleur des tableaux */
.scrollable-table th { /* couleur de fond des entêtes */
	background-color: #675936;
	color: #fff;
}
.scrollable-table tr:hover { /* couleur de fond des lignes au survol de la souris */
	background-color: #FFFCF5;
}
tr:nth-child(even) { /* couleur de la dernière ligne du tableau */
	background-color: #E7DFCC;
}
.scrollable-table a { /* couleur du texte des entêtes de tableau */
	color: #523F6D;
}
.scrollable-table
input[type="submit"] { /* couleur des boutons */
	background-color: #000;
	color: #fff;
	font-weight: normal;
}
.scrollable-table
input[type="submit"]:hover { /* couleur des boutons au survol de la souris */
	background-color: #fff;
	color: #000;
}
.scrollable-table .line-0 {
	background-color: #FEF7E5;
}
.scrollable-table .line-1 {
	background-color: #fff;
}

a.hcolumn { /* couleurs des liens dans les entêtes de colonnes des tableaux */
	color: #FEF7E5;
}
/* boutons */
input[type="submit"] { /* couleur des boutons */
	background-color: #675936;
	color: #fff;
	font-weight: normal;
}
input[type="submit"]:hover { /* couleur des boutons au survol de la souris */
	background-color: #000;
	color: #fff;
}

/* ===== Effets de style + icônes */

/* coins arrondis des boutons */

input[type="submit"],
input[type="reset"] {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid transparent;
	padding: .25rem .4rem;
}

/* couleur de la bordure des champs de saisie quand ils ont le focus */
input[type="text"]:focus,
textarea:focus,
select:focus,
input[type="checkbox"]:focus {
	box-shadow: 0 0 .5rem rgba(18, 159, 234, .25);
	border-color: #129fea;
}

/* icône loupe dans le champ de recherche */
input[name="artTitle"] {
	padding-left:20px;
	background-repeat: no-repeat;
	background-position-y: 8px;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAYAAABb0P4QAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADbSURBVDhP5ZI9C4MwEIb7//+BEDgICA6C4OQgBJy6dRIEB6EgCNkEJ4e3iT2oHzH9wHbpAwfyJvfkJDnhYH4kHDVKlSAigSAQoCiBKjVGXvaxFXZnxBQYkSlBICII+22K4jM63rbHSthCSdsskVX9Y6KxR5XJSSpVy6GbpbBKp6aw0BzM0ShCe1iKihMXC6EuQtMQwukzPFu3fFd4+C+/cimUNxy6WQkNnmdzL3NYPfDmLVuhZf2wZYz80qDkKX1St3CXAfVMqq4cz3hTaGEpmctxDPmB0M/fCYEbAwZYyVKYcroAAAAASUVORK5CYII=);
}

/* Ajout d'une icône flèche devant les liens de retour */

.back:before {
	font-family: "fontello";
	content: '\e803';
	padding-right: 5px;
}
.back:hover {
	text-decoration: none;
}
.back-site:before {
	font-family: "fontello";
	content: '\e805';
	padding-right: 5px;
}
.back-blog:before {
	font-family: "fontello";
	content: '\e80e';
	padding-right: 5px;
}
.logout:before {
	font-family: "fontello";
	content: '\e804';
	padding-right: 5px;
}
a.back-site,
a.back-blog,
a.logout {
	text-decoration: none;
	font-size: 0.85rem;
	color: #fff;
}
a.back-site:hover,
a.back-blog:hover,
a.logout:hover {
	color: #fff;
}