/*
# ------------------ BEGIN LICENSE BLOCK ------------------
#
# This file is part of PluXml : http://www.pluxml.org
#
# Package:		theme.css
# Copyright (c) 2014 PluXml
# Authors		Jos
# Licensed under the GPL license.
# See http://www.gnu.org/licenses/gpl.html
#
# ------------------- END LICENSE BLOCK -------------------
*/

@font-face {
    font-family: 'underwood_championregular';
    src: url('underwood_champion-webfont.eot');
    src: url('underwood_champion-webfont.eot?#iefix') format('embedded-opentype'),
         url('underwood_champion-webfont.woff') format('woff'),
         url('underwood_champion-webfont.ttf') format('truetype'),
         url('underwood_champion-webfont.svg#underwood_championregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'underwood_championregular';
	background-color: #fff;
}
.header {
	padding-bottom: 2rem;
	padding-top: 2rem;
}
.header h1 a:hover {
	text-decoration: none;
}
.nav {
	background-color: #222;
	height: 2.25rem;
}
.nav .menu.expanded li:hover {
	background-color: #555;
}
.nav a {
	color: #eee;
}
@media (max-width: 767px) {
	.nav {
		background-color: #fff;
		border-bottom: 1px solid #bbb;
		height: auto;
		left: 0;
		max-height: 200px;
		overflow-y: auto;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9999;
	}
	.nav .menu.expanded li:hover {
		background-color: #ddd;
	}
	.nav a {
		color: #258fd6;
	}
	.nav a:hover {
		color: #444;
	}
	.responsive-menu label {
		background-color: #222;
	}
	.header {
		margin-top: 2rem;
	}
}
.main {
	background-color: #fff;
	margin-bottom: 2rem;
}
.repertory {
	margin-top: 2rem;
}
.article header h1 {
	font-size: 1.8rem;
	font-weight: bold;
}
.article header h1 a {
	color: #444;
}
.article header h1 a:hover {
	color: #258fd6;
	text-decoration: none;
}
#form {
	width: 65%;
}
.comment {
	background-image: url('../img/user.png');
	background-repeat: no-repeat;
	margin-bottom: 2rem;
	padding-left: 4rem;
}
.comment blockquote {
	margin: 0;
}
.nbcom {
	background-color: #258fd6;
	color: #fff;
	padding: .2rem .3rem;
}
.nbcom:hover {
	background-color: #3a6c96;
	color: #fff;
	text-decoration: none;
}
.capcha-letter,
.capcha-word {
	font-weight: bold;
}
.capcha-word {
	background-color: #ccc;
	letter-spacing: 0.3em;
	padding: .525rem .7rem;
}
.article,
.pagination {
	margin-bottom: 4rem;
}
.article.static {
	margin-bottom: 0;
}
.pagination a {
	background-color: #258fd6;
	color: #fff;
	padding: .525rem .7rem;
}
.pagination a:hover {
	background-color: #3a6c96;
	color: #fff;
	text-decoration: none;
}
.pagination span:first-letter,
.pagination a:first-letter {
	text-transform: uppercase;
}
.p_first,
.p_prev,
.p_current,
.p_next,
.p_last {
	display: inline-block;
}
.aside {
	padding-left: 3rem;
}
@media (max-width: 768px) {
	.aside {
		margin-top: 2rem;
		padding-left: 1rem;
	}
}
.aside h3 {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 2rem;
	text-transform: uppercase;
}
.aside ul {
	margin: 0;
}
.aside li:first-letter {
	text-transform: uppercase;
}
.aside ul.tag-list {
	list-style-type: none;
	padding-left: 0;
}
.aside ul.tag-list li {
	display: inline;
	margin-right: 1rem;
}
.aside ul.tag-list li.tag-size-1 {
	font-size: 1rem;
}
.aside ul.tag-list li.tag-size-2 {
	font-size: 1.1rem;
}
.aside ul.tag-list li.tag-size-3 {
	font-size: 1.2rem;
}
.aside ul.tag-list li.tag-size-4 {
	font-size: 1.3rem;
}
.aside ul.tag-list li.tag-size-5 {
	font-size: 1.4rem;
}
.aside ul.tag-list li.tag-size-6 {
	font-size: 1.5rem;
}
.aside ul.tag-list li.tag-size-7 {
	font-size: 1.6rem;
}
.aside ul.tag-list li.tag-size-8 {
	font-size: 1.7rem;
}
.aside ul.tag-list li.tag-size-9 {
	font-size: 1.8rem
}
.aside ul.tag-list li.tag-size-10 {
	font-size: 1.9rem;
}
.aside ul.tag-list li.tag-size-max {
	font-size: 2rem;
}
.footer {
	border-top: 3px solid #444;
	padding: 2rem 0;
	text-align: center;
}
.footer p {
	margin: 0;
}
