/**
 * kGrid 1.0 - 23/09/2013
 * Par William Kieselé
 * http://www.kamea.net 
 * http://www.wkcreation.fr 
 *    
 */
   
/* Import */

@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

/* Warp gate */

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #1c1c1c;
  background: #fff;
  line-height: 1.3;
}

.color1 { color: #2C3E50; }
.color2 { color: #FC4349; }
.color3 { color: #6DBCDB; }

a {  
  color: #FC4349;
  text-decoration: none;
}

a:hover { 
  color: #2C3E50;
  text-decoration: none;
}

.wbase { 
	margin: 0 auto;
	padding: 0px;
  max-width: 1024px; 
}                   

.wfull {  
	margin: 0 auto;
	padding: 0px; 
  max-width: 100%; 
}

.row {
	clear: both;
	padding: 0;
} 

.wrap {
  padding: 10px;  
  background: #fff;
}

.wrap-aside {
  padding: 10px;  
  background: #fff;
}

.wrap-footer {
  padding: 10px;  
  background: #3CA5DE;
}

/* H1 > H6 */

h1 { font-size: 36px; }
h2 { font-size: 34px; }
h3 { font-size: 30px; }
h4 { font-size: 24px; }
h5 { font-size: 20px; }
h6 { font-size: 14px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
	line-height: 1.25;
	margin-bottom: .25em;
  color: #2C3E50;
}       

/* Titre et slogan */

.title h1 {
  font-style: italic;
  font-size: 40px;
  margin-bottom: 0px;
  padding-left: 16px;
}

.title h1 a {
  color: #fff;
}

.title h1 a:hover {
  color: #FC4349;
}

.slogan {
  font-size: 1.25em;
  padding: 16px;
  color: #fefefe;
  font-style: italic;
}

/* Navigation */

nav {
	margin:0;
  padding: 0;	
  background: rgba(242,242,242,1);
  overflow: hidden;
  line-height: 36px;
  text-align: left;
}

nav ul {	
  overflow: hidden;
  list-style-type: none; 
}

nav li {
	display: inline-block;
	background: transparent;
  text-transform: none;
}   

nav li:hover {
	background: #fff;  
}

nav li a {
	display: inline-block;
	padding: 8px;
	color: #2C3E50;
	text-decoration: none; 
  box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box; 
}

nav a:hover {   
  color: #FC4349;
}  

nav li a.active { 
  background: #FC4349;
  color: #fff;
}

nav a#pull {
	display: none;
}

/* Sidebar  */

aside {
}

aside h4 {
	font-style: italic;
  line-height: 1.6;
  margin-top: 11px;
  padding-left: 0px;
  background: transparent;
  color: #2C3E50;
  font-size: 1.2em;
}

aside ul {
 text-align: left;
 list-style: none;  
}

aside li {
  padding: 4px;
}

aside li a {
  color: #3c3c3c;
}

aside li a:before {
	content: "\25cf";
	margin-right: .3em;
  color: #FC4349;
}

aside li a:hover {
  color: #FC4349;
}

aside .rss {
  text-align: left;
  margin: 0;
  padding: 0;
}

aside li a.active {
	color: #FC4349; 
} 

aside li.tags {
  display: inline-block;
  background-color: #FC4349; 
  margin: 0px 4px 4px 4px;
  border: 1px solid rgba(0,30,50,.5);
}

aside li.tags > a {
  color: #fff;
  padding: 2px;
}

aside li.tags:hover {
  background-color: #2C3E50;
}

aside li.tags:hover > a {
  color: #fff; 
}

aside li.tags a:before {
  content: none;
}

aside li.tags > a {
  transition: none;
  margin-left: 0;
}

.nbr {
  font-style: italic;
  color: #FC4349;
}

.widget {
  text-align: center;
}

.widget {
  margin:0;
  padding:0;
}

/* Blog Footer */

.blog-footer {
  padding: 12px;
  background: #2C3E50;
  color: #fefefe;
}

.blog-footer a {
  color: #fefefe;
  border-bottom: 1px dotted #fefefe;
}

.blog-footer a:hover {
  color: #fefefe;
  border-bottom: 1px dotted transparent;
}

.footinfo {
  padding: 8px;
  line-height: 1.6;
}

.footinfo li {
  padding: 2px;
}

.footinfo li.tags {
  display: inline-block;
  background-color: #FC4349; 
  margin: 0px 4px 4px 4px;
  border: 1px solid rgba(0,30,50,.5);
}

.footinfo li.tags > a {
  color: #fff;
}

.footinfo li.tags:hover {
  background-color: #2C3E50;
}

.footinfo li.tags:hover > a {
  color: #fff; 
}


.footinfo h4 {
  font-style: italic;

  border-bottom: 1px solid #ddd;
}

.copyright {
}

/* Textarea , Input, select ... */

textarea, input, select {
  border: #ddd 2px solid;
  background-color: #fafafa;      
}

textarea:focus, input:focus, select:focus {
  border: #2C3E50 2px solid;
  background-color: #fff;       
}  

label {
  padding: 0px;
  margin: 12px;
}

input, textarea, select {
  padding: 6px;
  margin: 12px;
}

legend {
  font-weight: 600;
  font-size: 1.3em;
  font-style: italic;
  color: #2C3E50;
}

#form {}
#form > h2 {}

/* Divers */

.com-alert {
background-color: #FC4349;
color: #fff;
font-weight: 400;
padding-left: 8px;
}

.dropcap {
  display:block;
	float:left;
	font-size:44px;
	padding:0;
	margin: 0;
	margin:10px 8px 3px 0;
  font-style: italic;
  font-weight: 600;
}

pre {
  font-family: Courier,monospace;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  display: block;
  padding: 8px;
  border: 1px dashed #aaa;
  line-height: 1.1;
  color: #6DBCDB;
  background: rgba(235,235,235,.5);
  font-style: italic;
  font-size: 0.90em;
}

pre span { color: #2c2c2c; }

/* Tableaux */

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  white-space: normal;
}

table th,table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

table thead th {
  vertical-align: bottom;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #333;
}

table tfoot td {
  font-weight: 600;
}

table caption {
  padding: 0.8em;
  font-style: italic;
  border-bottom: 0;
  font-weight: 400;
}

/* Articles */

.art-content {
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom: 0px dashed #ddd;
}

article, footer {
  line-height: 1.6em;
}

article h2 > a {
  font-style: italic;
  font-weight: 300;
  color: #FC4349;
}

article h2 > a:hover {
  color: #2C3E50;
}

.rss {
  text-align:center;
  font-size: 1.0em;
}

.meta-info {
  font-size: 0.9em;
  color: #5c5c5c;
  padding-top: 0px;
  padding-left: 4px;
  margin-bottom: 8px;
  padding-bottom: 0px;
  background: rgba(215,215,215,.25);
}

.meta-info a.active, .meta-info span, .p_archive {
  color: #6DBCDB;
  font-weight: 400;
}

.tag-info, .cat-info, arch-info {
  border: none;
}

/* ol li ul pages statiques et articles */

.static ul, .art-content ul {
	list-style-type: disc;
}
.static ul, .static ol, .art-content ul, .art-content ol {
	margin: 0 0 20px 30px;
}

.static ol, .art-content ol {
	list-style-type: decimal;
}
.static ol ol, .art-content ol ol {
	list-style: upper-alpha;
}
.static ol ol ol, .art-content ol ol ol {
	list-style: lower-roman;
}
.static ol ol ol ol, .art-content ol ol ol ol {
	list-style: lower-alpha;
}
.static ul ul, .static ol ol, .static ul ol, .static ol ul, .static ul ul, .art-content ol ol, .art-content ul ol, .art-content ol ul  {
	margin-bottom: 0;
}

/* Plus d'infos ... */ 

.more {
	font-size: 1.1em; 
  margin-top: 16px; 
  margin-bottom: 32px;
}                                       
  
.more a {  
  padding: 8px;
  background: #2C3E50;
  color: #fefefe;  
}
  
.more a:hover {
  background: #FC4349;
}

/* Pagination bas de page */

#pagination{
	text-align:center;
	padding: 0 0 20px 0;
	font-size: 1.0em;
	margin: 20px 0 5px 20px;
	}

#pagination span{
	margin-right:5px;
}

#pagination .p_page{
	padding: 3px 5px;
  border: 1px solid #ddd;
  background: #f4f4f4;
  color: #5c5c5c;   
}

#pagination .p_prev a, #pagination .p_first a, #pagination .p_last a, #pagination .p_next a{
	padding: 3px 5px;
  border: 1px solid #ddd;
  color: #fff;
  background: #2C3E50; 
}

#pagination span a:hover{
	cursor: pointer;
  color: #5c5c5c;
  background: #eee;
}

#pagination span a:active{
}

/* plugins pluxml v 0.1 */

.breadcrumb { 
  font-size: 0.9em; 
}

.social-buttons {
	text-align:left !important;
}

.avatar {
  float: left;
  display: inline-block;
  position: absolute;
  padding: 4px;
  border: 1px solid #ddd;
}

/* Commentaires */

.comments {
  padding-top: 20px;
  line-height: 1.6;
}

.comment {
  margin-left: 70px;
  border: 1px solid #ddd;
  padding: 6px; 
}

.type-normal {
  background: #f0f0f0;
}

.type-admin {
  background: #f5f5f5;
}
  
.type-admin a {
	color: #3999c9;
  border-bottom: 1px dotted #2C3E50;
}
  
.type-admin a:hover {
	color: #3999c9;
  border-bottom: 1px dotted transparent;
}

/* blockquote */

blockquote {
  margin: 12px;
  border: 3px solid #ddd;
  font-style: italic;
  font-weight: 400;
  padding: 28px 20px 24px 20px;
  position: relative;
  background-color: #f8f8f8; 
}

/* Article, statique */

article:after, section:after {
	content: " ";
  display: block;
}

/* Boutons / Buttons */

.butt {
  display: inline-block;
  padding: 8px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: #2C3E50;
  color: #fff;
  border:1px solid #ddd;
  margin: 8px 8px 0px 0px; 
}

.butt:hover {
  opacity: .85;
}

/* Colors - Background, buttons ... */ 

.bg-note {
	background:#f5f5f5;
	border:1px solid #ddd;
	color:#2C3E50;
}

.bg-warning {
	background:#ffcccc;
	border:1px solid #ff9999;
	color:#c31b00;
}

.bg-ok {
	background:#d1f7b6;
	border:1px solid #8bca61;
	color:#5e9537;
}
.bg-info {                 
	background:#fdebae;
	border:1px solid #e6c555;
	color:#9e660d;
}

.bg-base { 
  background: #2C3E50; 
  border:1px solid #000;
  color: #ffffff;
}

.bg-grey { 
  background: #f2f2f2;
}

.bg-light {
	background: #f2f2f2;
  border: 1px solid #ddd;
}                

.tiny {
  font-size: 0.85em;
}

.verytiny {
  font-size: 0.75em;
}

.colorbase {
  color: #2C3E50;
}

hr {
  margin-top: 12px;
  border: 1px dotted #ddd;
}

.noborder {
  border: none;
}


/* Effets spéciaux */ 

a.fx1 img {
  position:relative;
  -webkit-transition: all 1.2s ease-in-out;                     
  -moz-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  -ms-transition: all 1.2s ease-in-out;
   transition: all 1.2s ease-in-out;
}

a:hover.fx1 img {
  -webkit-transform: scale(1.8) rotateX(360deg);
  -moz-transform: scale(1.8) rotateX(360deg);
  -o-transform: scale(1.8) rotateX(360deg);
  -ms-transform: scale(1.8) rotateX(360deg);
  transform: scale(1.8) rotateX(360deg);
  z-index:1000;
}

a.fx2 img {
  position:relative;
  -webkit-transition: all 1.8s ease-in-out;                     
  -moz-transition: all 1.8s ease-in-out;
  -o-transition: all 1.8s ease-in-out;
  -ms-transition: all 1.8s ease-in-out;
   transition: all 1.8s ease-in-out;
}

a:hover.fx2 img {
   -webkit-transform: perspective(400px) rotateY(180deg) rotateX(360deg);
   -moz-transform: perspective(400px) rotateY(180deg) rotateX(360deg);
   -o-transform: perspective(400px) rotateY(180deg) rotateX(360deg);
   -ms-transform: perspective(400px) rotateY(180deg) rotateX(360deg);
   transform: perspective(400px) rotateY(180deg) rotateX(360deg);
   z-index:1000;
}

a.fx3 img {
  display: inline-block;
  -moz-animation: spin 4s infinite linear;
  -o-animation: spin 4s infinite linear;
  -webkit-animation: spin 4s infinite linear;
  animation: spin 4s infinite linear; 
  z-index:1000; 
}

/* Vidéo responsive */
/* Sur la base de travail de THIERRY KOBLENTZ http://alistapart.com/author/tkoblentz */

.rvid {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px; height: 0; overflow: hidden;
}

.rvid iframe, .rvid object, .rvid embed, .rvid video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* images responsive */

.resp img {
	width: 100%;
	height: auto;
	display: inline-block;
  padding: 0px;
  margin: 0px;
}  

/* Positions spéciales */

.flr {float: right;}
.fll {float: left;}

/* Margin & Padding */

.m10 {margin: 10px;}
.m20 {margin: 20px;}
.mt10 {margin-top: 10px;}
.mt20 {margin-top: 20px;}
.ml10 {margin-left: 10px;}

.p10 {padding: 10px;}
.p20 {padding: 20px;}
.pt10 {padding-top: 10px;}
.pt20 {padding-top: 20px;}
.pb10 {padding-bottom: 10px;}
.pb20 {padding-bottom: 20px;} 

.pm0 { padding: 0px; margin: 0px; }

/* Alignements textes */

.tal {text-align: left;}
.tar {text-align: right;}
.taj {text-align: justify;}
.tac {text-align: center;}

/* Alignements des images */

.img-l {float:left; margin: 3px 30px 0px 0; }
.img-r {float:right; margin: 3px 0px 0px 30px;}

/* Tooltips */

a.tooltip {
  position: relative;
  display: inline;
  border-top: 1px dotted #df5564;
  border-bottom: 1px dotted #df5564;
  background: #fbeaea;
  color: #df5564;
}

a.tooltip span {
  position: absolute;
  width:220px;
  color: #fefefe;
  background: #fbeaea;
  text-align: center;
  visibility: hidden;
  border: 3px solid #df5564;
  color: #2e2e2e;
  padding: 6px;
  opacity:0;
}

a.tooltip span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #df5564;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}

a.tooltip:hover {
  border-top: 1px dotted #fff;
  border-bottom: 1px dotted #fff;
  color: #df5564;
  background: #fff;
}

a:hover.tooltip span {
  visibility: visible;
  opacity: 1;
  bottom: 30px;
  left: 50%;
  margin-left: -110px;
  z-index: 999;
}     

a.tooltip img {
  width: 98%;
}

/*************************/
/* La Grille 12 colonnes */
/*************************/

.c1 { width: 6.5%; }
.c2 { width: 15%; }
.c3 { width: 23.5%; }
.c4 { width: 32%; }
.c5 { width: 40.5%; }
.c6 { width: 49%; }
.c7 { width: 57.5%; }
.c8 { width: 66%; }
.c9 { width: 74.5%; }
.c10 { width: 83%; }
.c11 { width: 91.5%; }
.c12 { width: 100%; margin: 0; }

.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
	float: left;
	margin: 0 2% 20px 0;
  padding: 0;
}

.m0 {
  margin: 0 0 20px 0;
}  

/* Demo -- page test */

.demo {
	background: #2C3E50;
	color: #fff;
	margin-bottom: 20px;
	text-align: center;
	padding-top: 20px;
  padding-bottom: 20px;
  font-size: 48px;
  text-transform:uppercase;
} 


/********************************/
/* @media 768px - 480px - 320px */
/********************************/
                 
@media all and (max-width: 768px) {

.title, .slogan {
  text-align: center;
}

body {
  background: #fff;
  padding-top: 0px;
}

nav {	height: auto; }

nav ul {
	width: 100%;
	display: block;
	height: auto;
}

nav li {
	width: 50%;
	float: left;
	position: relative;
}

nav li a {
  padding: 1px;
}

nav a {
  text-align: center;
	width: 100%;
}
    
.c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12 {
  float: none;
	width: 100%;
}
  
.flr, .fll {
  float: none;
  margin: 0;
  display: block;
} 

.butt {
  display: block;
}  

.wbase { 
	padding: 2px;
}

.wfull {  
	padding: 2px; 
}
}

@media only screen and (max-width : 480px) {
	
nav {
  border-bottom: 0;
}

nav ul {
  display: none;
	height: auto;
}

nav a#pull {
	display: block;
	background-color: #FC4349;
	width: 100%;
	position: relative;
   color: #fff; 
}

nav a#pull:after {
	content:"";
	background: url('../img/nav-icon.png') no-repeat;
	width: 30px;
	height: 30px;
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 10px;
}
}

@media only screen and (max-width : 320px) {

nav li {
  display: block;
  float: none;
	width: 100%;
}

nav li a {
  border-bottom: 1px solid #ddd;
  border-right: none;
}
}           